<!--- Dropbar Content
<ul id="dropdown1" class="dropdown-content">
	<li><a href="#!">About</a></li>
	<li><a href="#!">Repository</a></li>
        <li><a href="#!">Resources</a></li>
        <li><a href="#!">Roadmap</a></li>                                      
</ul>

<ul id="dropdown2" class="dropdown-content">
	<li><a href="#!">CMIP6 Contributions</a></li>
	<li><a href="#!">Development Team</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
	<li><a href="#!">Workshop Schedule</a></li>
	<li><a href="#!">Presentation</a></li>
	<li><a href="#!">Publication</a></li>
</ul>
-->

<nav class="blue darken-4" role="navigation">
	<div class="nav-wrapper">
		<a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
			<img src="/assets/images/ESMValTool-logo-new-white.png" height="60" width="350"/>
		</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
	    <li><a href="about.html">About ESMValTool</a></li>
	    <li><a href="references.html">References</a></li>
	    <li><a href="team.html">Team</a></li>
	    <li><a href="license.html">License</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
                            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %} 
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
